*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 98.8vw;
    background-color: lightgrey;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body::selection{
    background-color: red;
}
.header{
    margin: 50px auto 0;
    background-color: #fff;
    width: 1000px;
}
.head{
    text-align: center;
    padding: 10px;
    background-color: #1abc9c;
}
.head > h1{
    font-style: italic;
    font-size: 40px;
    color: #fff;
    margin: 5px;
}
nav{
    background-color: #333
}
nav ul li  {
    display: inline-block;
    padding: 10px;
    list-style: none;
    
}
ul>li>a{
 text-decoration: none;
 color: #fff;
 transition: all 0.3s ease;
 font-weight: bold;
}
ul>li:hover {
    background-color: rgba(255,255,255,0.2);
}
.main-content{
     padding: 25px;
    min-height: 400px;
}
.main-content > h2{
    margin: 0 0 20px;
    padding: 0 0 5px 0;
   
}
.main-content  table{
    width: 100%;
    background-color: #555;
    margin: 0 0 20px;
}
table th{
    color: #fff;
    background-color: #333;
    padding: 5px;
    
    
}
table td{
    background-color: #fff;
    padding: 7px;
}
.td-l{
    text-align: center;
    width: 150px;
}
table td a{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 3px 7px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    
}
table td .td-a1{
    background-color: #e67e22;
}
table td .td-a2{
 background-color: #e74c3c;
 margin: 0 0 0 5px;
}
.post-form{
    width: 50%;
    padding: 25px;
    margin: 0 auto;
    background-color: #f5f5f5;
    border-radius: 10px;
}
.post-form .form-group{
    margin: 0 0 15px;
}

.form-group label{
    width: 30%;
    display: inline-block;
    font-weight: 600;
    font-weight: bold;
    font-size: 16px;
}
.form-group > input , .form-group > select {
    font-size: 16px;
    width: 65%;
    display: inline-block;
    padding: 5px;
}
.submit{
    font-size: 19px;
    padding: 5px 10px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    margin: 0 0 0 30%;
    transition: all 0.3s;
}
.submit:hover{
    box-shadow: 2px 2px 4px lightslategray;
}
